html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  color: #3d3d3d;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dark {
  background-color: #21242c;
  color: #f5f5f5;
}

#grid {
  display: flex;
  flex-direction: column;
  margin: 36px;
  box-shadow: 0px 0px 5px #777;
}

.row,
.color-buttons {
  display: flex;
}

.color-buttons {
  align-items: center;
  gap: 24px;
}

button,
input[type="color"] {
  font-size: 18px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px #7f7f7f;
}

input[type="color"] {
  border-radius: 10%;
}

button:hover,
input[type="color"]:hover {
  opacity: 0.7;
}

#white {
  background-color: #fff;
}

#rainbow {
  background: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
}

#grayscale {
  background: radial-gradient(rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
}

#clear {
  /* background: linear-gradient(to bottom left, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%); */
}

h1 {
  margin-bottom: 36px;
  font-size: 48px;
  font-weight: 500;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider div {
  display: flex;
  gap: 16px;
}

.pixel-grid {
  border: 1px solid #ffffff1f;
}
